/* =========================================
 CONFIGURAÇÕES INICIAIS
========================================= */

/* Regras básicas */
@charset 'UTF-8';

/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Junge&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

/* -----------------------------------------
 VARIÁVEIS GLOBAIS
----------------------------------------- */
:root {
    --cor1: #0E0B18;
    --cor2: #1C0E20;
    --cor_linhas: #241B2E;
    --cor-ouro: #C19456;

    --fonte-parágrafos: 'Junge', sans-serif;
    --fonte-titulos: 'Cinzel', arial, sans-serif;
    --fonte-decorative: 'Cinzel Decorative', cursive;

    --sombras-elementos: drop-shadow(0px 0px 10px #0E0B18);
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
}

/* =========================================
 ESTRUTURA BASE DA PÁGINA
========================================= */

/* HTML e Body - fundo principal */
html, body {
    height: 100%;
    background-image: linear-gradient(10deg, var(--cor1) 60%, #0E0B18, var(--cor2));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* -----------------------------------------
   BODY e seus efeitos visuais
----------------------------------------- */
body {

    background-image: url(/src/imagens/nora_bg.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 83%;
    overflow: scroll;
    

    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    z-index: 0;

    transition: background-size 1s linear;
}

/* Moldura superior */
body::before {
    content: "";
    position: absolute;
    top: -43%;
    left: 3.8%;
    width: 92%;
    height: 92%;

    background-image: url(/src/imagens/Moldura_Topo.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: contain;
    background-size: contain;

    z-index: 1;
}

/* Efeito de zoom no fundo */
body:hover {
    background-size: 80%;
}

/* =========================================
 CABEÇALHO E NAVEGAÇÃO
========================================= */
header {
    width: auto;
    height: 80px;
}

nav {
    width: 100%;
    height: 100%;
    padding-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----- Logo ----- */
.logo {
    height: 80%;
    width: 150px;
    margin-left: 4%;
    text-align: center;
}

.logo img {
    height: 100%;
}

.logo:hover {
    height: 88%;
    transition-duration: 0.5s;
}

/* ----- Linha divisória ----- */
.linha {
    flex: 1;
    height: 6px;
    margin: 0px 2px;

    background-color: var(--cor_linhas);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.527);
    border-radius: 50px;
}

/* ----- Botão "Acessar" ----- */
.botao_acessar {
    height: 80%;
    width: fit-content;
    margin-right: 4%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.entalhe {
    height: 80%;
    position: relative;
}

.botao {
    height: 42px;
    position: absolute;
    z-index: 1;
}

.botao:hover {
    height: 45px;
    filter: drop-shadow(0px 2px 4px #c787ffa6);
    transition-duration: 0.2s;
}

.botao_acessar .acessar {
    height: 22px;
    position: absolute;
    z-index: 2;
}

.acessar:hover {
    scale: 1.01;
    filter: drop-shadow(0px -0.5px 10px #ff56eb) drop-shadow(0px 1px 2px black);
    transition-duration: 0.2s;
}

/* =========================================
 TÍTULO E DESCRIÇÃO PRINCIPAL
========================================= */

article {
    width: 100%;
    height: fit-content;
    margin-bottom: 10%;
}

.title_container {
    margin: 16% auto 25px;
    width: 73%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    position: relative;
    z-index: 1;
    transition-duration: 0.5s;
}

.title_container:hover {
    scale: 1.02;
    transition-duration: 0.3s;
}

.title_container > h1 {
    font-family: var(--fonte-decorative);
    font-weight: bold;
    font-size: 2vw;
    color: var(--cor-ouro);
}

.title_container p {
    font-family: var(--fonte-parágrafos);
    font-size: 1.5em;
    padding-top: 10px;
    color: white;
}

/* =========================================
 BOTÃO "ENTRAR COMO VISITANTE"
========================================= */
.botao_visitante {
    position: relative;
    z-index: 1;
}

.botao_visitante .paper-btn {
    display: block;
    width: 20em;
    padding-left: 12.5%;
    position: relative;
}

.botao_visitante .entrar_como {
    position: absolute;
    top: 28%;
    left: 15.5%;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--fonte-parágrafos);
    font-size: 1.2em;
    color: white;
    text-decoration: none;

    border: 1px solid rgba(255, 0, 0, 0);
    height: 34.5%;
}

.entrar_como::before {
    content: "";
    position: absolute;
    bottom: 0%;
    width: 200px;
    height: 2.5px;

    background-image: linear-gradient(to right, rgba(255,255,255,0), white, rgba(255,255,255,0));
}

.seta_visitante {
    height: 95%;
    position: absolute;
    top: 0%;
    left: 13%;
    z-index: 2;
}

.entrar_como:hover {
    scale: 1.08;
    transition-duration: 0.4s;
}

.seta_visitante:hover {
    scale: 1.03;
    transition-duration: 0.5s;
}

/* =========================================
 CONTEÚDO PRINCIPAL
========================================= */
main {
    width: 100%;
    height: fit-content;
    margin: auto;
    background-image: linear-gradient(to bottom, #0b091200, #0b09127c, #0E0B18, #0e0b1800);
    z-index: 2;
}

/* ----- Section Principal ----- */
.section1 {

    margin: 0 auto 30px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5%;
   
    background-image: linear-gradient(to top, #0b0912, #0B0912, #0B0912, #0B0912, #0b091200);
    filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.15));
}


/* =========================================
 CARROSSEL DE IMAGENS
========================================= */

/* Estrutura lateral e central */
.border1, .border3 {
    width: 23%;
    height: 84%;
    border-top: 3px solid #28242E;
    border-bottom: 3px solid #28242E;
    border-radius: 15px;
    z-index: 3;
}

.border1 { border-right: 3px solid #28242E; }
.border3 { border-left: 3px solid #28242E; }

.slide_principal {
    width: 60%;
    height: 100%;
    position: relative;
}

/* ----- Container do carrossel ----- */
.carrossel {
    width: 98vw;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    z-index: 2;
}

.carrossel input { display: none; }

.container {
    display: flex;
    overflow: hidden;

    width: 51.241vw;
    height: 28.823vw;
    gap: 9%;

    background-color: #503a28;
}

.slide_images {
    transition: 2s;
}

.slide_images img {
    width: 51.241vw;
    height: 28.823vw;
}

/* =========================================
 CONTROLES DO CARROSSEL
========================================= */

/* Navegação manual */
.manual-navigation {
    position: absolute;
    top: 106%;
    left:45%;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 10%;
    height: 0.2%;
    padding: 0.7% 0;

    border: 0.5vw solid  hsl(257, 26%, 14%);
    border-radius: 50px;
    
    background-color: #0e0b1331;
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.384));
}

.manual-btn {
    border: 2.5px solid #26222e;
    background-color: #302b3834;
    padding: 3%;
    border-radius: 1vw;
    transition: 0.5s;
}

.manual-btn:hover {
    background-color: #3b314ba1;
    cursor: pointer;
}

.manual-btn:not(:last-child) {
    margin-right: 10%;
}

/* Mudança de posição */
#radio1:checked ~ .first { margin-left: 0; transition: 1.5s; }
#radio2:checked ~ .first { margin-left: -108.5%; transition: 1.5s; }
#radio3:checked ~ .first { margin-left: -217.5%; transition: 1.5s; }

/* Navegação automática */
.navigation-auto {
    position: absolute;
    top: 100%;
    left: 44.8%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11.129vw;
    margin-top: 2.549vw;
}

.navigation-auto div {
    border: 2% solid transparent;
    padding: 3%;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 10.2%;
}

#radio1:checked ~ .navigation-auto .auto-btn1,
#radio2:checked ~ .navigation-auto .auto-btn2,
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #383046;
}

/* =========================================
 ESTÉTICA DO CARROSSEL
========================================= */

/* Bordas e laterais */
.borda_slide1,
.borda_slide3 {
    height: 28.594vw;
    width: auto;
    background: #0E0B18;
    scale: 1;
    display: flex;
    align-items: end;
}

.borda_slide1 {
    background-image: linear-gradient(to left, rgba(0,0,0,0.15), transparent 70%);
    border: 0.3vw solid #644A33;
    border-right: 0.4vw solid #644A33;
    border-radius: 0 15px 15px 0;
}

.borda_slide3 {
    background-image: linear-gradient(to right, rgba(0,0,0,0.15), transparent 70%);
    border: 0.3vw solid #644A33;
    border-left: 0.4vw solid #644A33;
    border-radius: 15px 0 0 15px;
}

/* Borda central */
.borda_slide2 {
    position: relative;
    z-index: 2;
    scale: 0.99;

    width: 50.834vw;
    height: 28.594vw;

    background-color: #0e0b180a;
    border: 0.8vw solid;
    border-image: linear-gradient(to right, #644A33, #CA9567, #644A33) 1;
    transition: 0.2s;
}

.borda_slide2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #3b384467, transparent 35%);
}

/* =========================================
 BOTÕES E ORNAMENTOS
========================================= */

/* Laterais */
.side_bl, .side_br {
    position: absolute;
    height: 8.021vw;
    top: 35%;
    opacity: 100%;
    z-index: 4;
    transition: 0.3s;
}

.side_bl { left: -6.6%; }
.side_br { right: -7.1%; }

.side_bl:hover, .side_br:hover {
    opacity: 80%;
}

/* Setas sobrepostas */
.over_b_l, .over_b_r {
    position: absolute;
    height: 3.5vw;
    width: auto;
    top: 42.5%;
    filter: var(--sombras-elementos);
    z-index: 5;
    transition-duration: 0.2s;
}

.over_b_l { left: -2%; }
.over_b_r { right: -2%; }

.over_b_l:hover {
    height: 3.55vw;
    left: -3%;
    filter: drop-shadow(5px 0px 10px rgba(66,149,226,0.2));
}

.over_b_r:hover {
    height: 3.55vw;
    right: -3%;
    filter: drop-shadow(-5px 0px 10px rgba(66,149,226,0.2));
}

/* Molduras e adesivos */
.moldura_carrossel {
    position: absolute;
    top: -0.2%;
    right: -6.3%;
    height: 28.823vw;
    scale: 0.98;
    z-index: 4;
    pointer-events: none;
}

.adesivos {
    position: absolute;
    top: -10.5%;
    left: -6.2%;
    height: 36.45vw;
    z-index: 6;
    pointer-events: none;
    filter: drop-shadow(0px 11px 8px #00000094);
}

/*SEÇÃO 2*/


/* =========================================
 RODAPÉ
========================================= */
footer {
    display: flex;
    justify-content: center;
    z-index: 1;
}

footer img {
    width: 80%;
    pointer-events: none;
}
