/*REGRAS*/
@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Junge&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

/*VARIÁVEIS*/
:root {
    --cor1: #0E0B18;
    --cor2: #1C0E20;
    --cor_linhas: #241B2E;
    --fonte-parágrafos: 'Junge', sans-serif ;
    --fonte-titulos: 'Cinzel', arial, sans-serif ;
    --fonte-decorative: 'Cinzel Decorative', cursive;
    --cor-ouro: #C19456;
    --sombras-elementos: drop-shadow(0px 0px 10px #0E0B18);
}

/*CONFIGURAÇÕES GLOBAIS*/
* {
    margin: 0;
    padding: 0;
}

/*CONFIGURAÇÕES CONTAINERS*/
html, body {
    height: 100%;
    background-image: linear-gradient( 10deg, var(--cor1) 60%, #0E0B18,  var(--cor2));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*BODY E BACKGROUND*/
body {
    height: 100%;
    background-image: url(/src/imagens/nora_bg.png);
    overflow: scroll;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 83%;
    transition: background-size 1s linear;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
    transition: 1s;
    
}


body::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(/src/imagens/Moldura_Topo.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: contain;
    background-size: contain;
    position: absolute;
    z-index: 1;
    top: 13%;
    left: 0;
}

body:hover {
    background-size: 80%;
}

/*CABEÇALHO*/
header {
    width: auto;
    height: 80px;
}

nav {
    padding-top: 10px;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.botao_acessar {

    height: 80%;
    width: fit-content;
    margin-right: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entalhe {
    height: 80%;
    position: relative;
}


.botao {
    height: 42px;
    position: absolute;
    z-index: 1;
}

.botao:hover {
    filter: drop-shadow(0px 2px 4px #c787ffa6);
    transition-duration: 0.2s;
    height: 45px;
}

.botao_acessar .acessar {
    height: 22px;
    position: absolute;
    z-index: 2;
}

.acessar:hover {
    scale: 1.01;
    filter: drop-shadow(0px -0.5px 10px #ff56eb) drop-shadow(0px 1px 2px black);
    transition-duration: 0.2s;
}

.linha {
    background-color: var(--cor_linhas);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.527);
    height: 6px;
    border-radius: 50px;
    margin: 0px 2px;

    flex: 1;
}

.logo {
    height: 80%;
    width: 150px;
    margin-left: 4%;
    text-align: center;
}

.logo img {
    height: 100%;
}

.logo:hover {
    height: 88%;
    transition-duration: 0.5s;
}

/*TÍTULO E DESCRIÇÃO*/
.title_container {
    margin: 16% auto 25px;
    width: 73%;
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    z-index: 1;

    transition-duration: 0.5s;
}

.title_container:hover {
    scale: 1.02;
    transition-duration: 0.3s;
}


.title_container > h1 {
    font-family: var(--fonte-decorative);
    font-weight: bold;
    font-size: 2.2em;
    color: var(--cor-ouro);
}

.title_container p {
    font-family: var(--fonte-parágrafos);
    font-size: 1.5em;
    padding-top: 10px;
    color: white;
}


/*BOTÃO VISITANTE- SECTION*/
.botao_visitante {
    position: relative;
    top: 10px;
    margin-bottom: 100px;
    z-index: 1;
}


.botao_visitante img {
    display: block;
    height: 34.5%;
    padding-left: 13%;
    position: relative;
}

.botao_visitante .entrar_como {
    font-family: var(--fonte-parágrafos);
    font-weight: normal;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    position: absolute;
    z-index: 2;
    top: -2%;
    left: 16%;
    
    border: 1px solid rgba(255, 0, 0, 0);
    height: 34.5%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entrar_como::before {
    content: "";
    height: 2.5px;
    width: 200px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0));
    position: absolute;
    bottom: 35%;
}

.seta_visitante {
    position: absolute;
    z-index: 2;
    top: -35%;
    left: -0.2%;
}



.entrar_como:hover {
    scale: 1.08;
    transition-duration: 0.4s;    
}

.seta_visitante:hover {
    scale: 1.03;
    transition-duration: 0.5s;
}

/*CONTEÚDO CENTRAL E SEÇÕES*/
main {
    height: fit-content;
    width: 100%;
    margin: auto;
    z-index: 2;

}

.section1 {
    margin: 0 auto 30px;
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 3.5%;
    width: 100%;

    filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.15));
}

/*CARROSSEL*/
.border1 {
    width: 23%;
    height: 84%;
    
    border-top: 3px solid #28242E;
    border-right: 3px solid #28242E;
    border-bottom: 3px solid #28242E;
    border-radius: 15px;
    z-index: 3;
}



.border3 {
    width: 23%;
    height: 84%;
    
    border-top: 3px solid #28242E;
    border-left: 3px solid #28242E;
    border-bottom: 3px solid #28242E;
    border-radius: 15px;
    z-index: 3;
}

.slide_principal {
    height: 100%;
    width: 60%;
    position: relative;

}

/*Imagens Carrossel*/

.carrossel {

    width: 98vw;

    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    z-index: 2;
}

.carrossel input {
    display: none;
}

.container {
    background-color: #503a28;
    overflow: hidden;
    display: flex;
    height: 28.823vw;
    width: 51.241vw;
    gap: 9%;
    
}

.slide_images img {
    height: 28.823vw;
    width: 51.241vw;
}

.slide_images {
    transition: 2s;
}

.manual-navigation {
    background-color: #302b3831;
    border: 10px solid #0E0B18;
    filter: drop-shadow(0px -2px 5px rgba(0, 0, 0, 0.200));
    position: absolute;
    top: 107%;
    z-index: 2;

    border-radius: 50px;
    padding: 0.7% 0px;
    height: 0.1vw;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manual-btn {
    border: 2.5px solid #302b38;
    background-color: #302b3834;
    padding: 3%;
    border-radius: 10px;
    transition: 0.5s;
}

.manual-btn:hover {
    background-color: #736688a1;
    cursor: pointer;
}

.manual-btn:not(:last-child) {
    margin-right: 10%;
}

#radio1:checked ~ .first{
    margin-left: 0;
    transition: 1.5s;
}

#radio2:checked ~ .first{
    margin-left: -108.5%;
    transition: 1.5s;
}

#radio3:checked ~ .first{
    margin-left: -217.5%;
    transition: 1.5s;
}

/*NAVEGAÇÃO AUTOMÁTICA*/
.navigation-auto div{
    border: 2px solid rgba(0, 0, 255, 0);
    padding: 2%;
    border-radius: 50%;

    cursor: pointer;
    transition: 0.5s;
}

.navigation-auto {
    position: absolute;
    width: 11.129vw;
    margin-top: 2.549vw;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 104%;
    left: 44.3%;

}

.navigation-auto div:not(:last-child) {
    margin-right: 10%;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #493f5a63;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #493f5a63;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #493f5a63;
}


/*BORDAS CARROSSEL*/

.borda_slide1 {
    height: 28.594vw;
    width: auto;
    scale: 1;
    background: #0E0B18;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.15), transparent 70% );
    border-top: 0.3vw solid #644A33;
    border-right: 0.4vw solid #644A33;
    border-bottom: 0.3vw solid #644A33;
    border-radius: 0px 15px 15px 0px;
    z-index: 0;

    display: flex;
    align-items: end;
}

.borda_slide1 .side_btn1 {
    background-image: linear-gradient(to bottom, transparent, #0e0b1890 50%);

    height: 100%;
    width: 100%;

    position: relative;
}

.side_btn1:hover {

    background-image: linear-gradient(to bottom, transparent, #0e0b18ce 50%);
}

.borda_slide2 {
    height: 28.594vw;
    width: 50.834vw;
    scale: 0.99;
    
    background-color: #0e0b180a;
    border: 0.8vw solid;
    border-image: linear-gradient(to right, #644A33, #CA9567, #644A33) 1;
    position: relative;
    z-index: 2;

    transition: 0.2s;
}

.borda_slide2::after {
    content: "";
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, #3b384467, transparent 35%);
    position: absolute;
}

.borda_slide2:hover {
    content: "";
    background-image: linear-gradient(to top, #3b384460, transparent 45%);
    
}

.borda_slide3 {
    height: 28.594vw;
    width: auto;
    scale: 1;
    background: #0E0B18;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15), transparent 70% );
    border-top: 0.3vw solid #644A33;
    border-left: 0.4vw solid #644A33;
    border-bottom: 0.3vw solid #644A33;
    border-radius: 15px 0px 0px 15px;
    z-index: 0;

    display: flex;
    align-items: end;
}

.borda_slide3 .side_btn2 {
    background-image: linear-gradient(to bottom, transparent, #0e0b1890 50%);

    height: 100%;
    width: 100%;
}

.side_btn2:hover {
    background-image: linear-gradient(to bottom, transparent, #0e0b18ce 50%);
}

/*BOTÕES CARROSSEL*/
.side_bl{
    opacity: 70%;
    position: absolute;
    height: 8.021vw;
    top: 35%;
    left: -6.6%;
    z-index: 4;
}

.side_bl:hover {
    opacity: 100%;
    transition-duration: 0.3s;
}

.side_br{
    opacity: 70%;
    position: absolute;
    height: 8.021vw;
    top: 35%;
    right: -7.1%;
    z-index: 4;
}

.side_br:hover {
    opacity: 100%;
    transition-duration: 0.3s;
}

.over_b_l {
    filter: var(--sombras-elementos);
    width: auto;
    position: absolute;
    height: 3.5vw;
    top: 42.5%;
    left: -2%;
    z-index: 5;
}

.over_b_l:hover {
    height: 3.55vw;
    left: -3%;
    filter: drop-shadow(5px 0px 10px rgba(66, 149, 226, 0.200));
    transition-duration: 0.2s;
}

.over_b_r {
    filter: var(--sombras-elementos);
    width: auto;
    position: absolute;
    height: 3.5vw;
    top: 42.5%;
    right: -2%;
    z-index: 5;
}

.over_b_r:hover {
    height: 3.55vw;
    right: -3%;
    filter: drop-shadow(-5px 0px 10px rgba(66, 149, 226, 0.200));
    transition-duration: 0.2s;
}

/*ORNAMENTOS CARROSSEL*/
.moldura_carrossel {
    height: 28.823vw;
    scale: 0.98;
    position: absolute;
    top: -0.2%;
    right: -6.3%;
    pointer-events: none;
    z-index: 4;
}

.adesivos {
    filter: drop-shadow(0px 11px 8px #00000094);
    pointer-events: none;
    position: absolute;
    height: 36.45vw;
    top: -10.5%;
    left: -6.2%;
    z-index: 6; 
}

/*SLIDERS*/
footer {
    display: flex;
    justify-content: center;
    z-index: 1;
}

footer img {
    width: 80%;
    pointer-events: none;
}