/*REGRAS*/
@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Junge&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

/*VARIÁVEIS*/
:root {
    --cor1: #0E0B18;
    --cor2: #1C0E20;
    --cor_linhas: #241B2E;
    --fonte-parágrafos: 'Junge', sans-serif ;
    --fonte-titulos: 'Cinzel', arial, sans-serif ;
    --fonte-decorative: 'Cinzel Decorative', cursive;
    --cor-ouro: #C19456;
    --sombras-elementos: drop-shadow(0px 0px 10px #0E0B18);
}

/*CONFIGURAÇÕES GLOBAIS*/
* {
    margin: 0;
    padding: 0;
}

/*CONFIGURAÇÕES CONTAINERS*/
html, body {
    height: 100%;
    background-image: linear-gradient( 10deg, var(--cor1) 60%, #0E0B18,  var(--cor2));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*BODY E BACKGROUND*/
body {
    height: 100%;
    background-image: url(/UDM/src/imagens/nora_bg.png);
    overflow: scroll;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 80%;
    transition: background-size 1s linear;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
    
    
}


body::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(/UDM/src/imagens/Moldura_Topo.svg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: contain;
    background-size: contain;
    position: absolute;
    z-index: 1;
    top: 13%;
    left: 0;
    
}

/*CABEÇALHO*/
header {
    width: auto;
    height: 80px;
}

nav {
    padding-top: 10px;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.botao_acessar {

    height: 80%;
    width: fit-content;
    margin-right: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entalhe {
    height: 80%;
    position: relative;
}


.botao {
    height: 42px;
    position: absolute;
    z-index: 1;
}

.botao:hover {
    filter: drop-shadow(0px 2px 4px #c787ffa6);
    transition-duration: 0.2s;
    height: 45px;
}

.botao_acessar .acessar {
    height: 22px;
    position: absolute;
    z-index: 2;
}

.acessar:hover {
    scale: 1.01;
    filter: drop-shadow(0px -0.5px 10px #ff56eb) drop-shadow(0px 1px 2px black);
    transition-duration: 0.2s;
}

.linha {
    background-color: var(--cor_linhas);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.527);
    height: 6px;
    border-radius: 50px;
    margin: 0px 2px;

    flex: 1;
}

.logo {
    height: 80%;
    width: 150px;
    margin-left: 4%;
    text-align: center;
}

.logo img {
    height: 100%;
}

.logo:hover {
    height: 88%;
    transition-duration: 0.5s;
}

/*TÍTULO E DESCRIÇÃO*/
.title_container {
    margin: 16% auto 25px;
    width: 73%;
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    z-index: 1;

    transition-duration: 0.5s;
}

.title_container:hover {
    scale: 1.02;
    transition-duration: 0.3s;
}


.title_container > h1 {
    font-family: var(--fonte-decorative);
    font-weight: bold;
    font-size: 2.2em;
    color: var(--cor-ouro);
}

.title_container p {
    font-family: var(--fonte-parágrafos);
    font-size: 1.5em;
    padding-top: 10px;
    color: white;
}


/*BOTÃO VISITANTE- SECTION*/
.botao_visitante {
    position: relative;
    top: 10px;
    margin-bottom: 100px;
    z-index: 1;
}


.botao_visitante img {
    display: block;
    height: 34.5%;
    padding-left: 13%;
    position: relative;
}

.botao_visitante .entrar_como {
    font-family: var(--fonte-parágrafos);
    font-weight: normal;
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    position: absolute;
    z-index: 2;
    top: -2%;
    left: 16%;
    
    border: 1px solid rgba(255, 0, 0, 0);
    height: 34.5%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entrar_como::before {
    content: "";
    height: 2.5px;
    width: 200px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0));
    position: absolute;
    bottom: 35%;
}

.seta_visitante {
    position: absolute;
    z-index: 2;
    top: -35%;
    left: -0.2%;
}



.entrar_como:hover {
    scale: 1.08;
    transition-duration: 0.4s;    
}

.seta_visitante:hover {
    scale: 1.03;
    transition-duration: 0.5s;
}

/*CONTEÚDO CENTRAL E SEÇÕES*/
main {
    height: fit-content;
    width: 100%;
    margin: auto;
    z-index: 2;

}

.section1 {

  margin: 0 auto 100px;
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 2vw;
  width: 100%;
  
  filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.15));
}

/*CARROSSEL*/
.border1 {
    width: 23%;
    height: 84%;
    
    border-top: 3px solid #28242E;
    border-right: 3px solid #28242E;
    border-bottom: 3px solid #28242E;
    border-radius: 15px;
    z-index: 3;
}



.border3 {
    width: 23%;
    height: 84%;
    
    border-top: 3px solid #28242E;
    border-left: 3px solid #28242E;
    border-bottom: 3px solid #28242E;
    border-radius: 15px;
    z-index: 3;
}

.slide_principal {
    height: 100%;
    width: 60%;
    position: relative;

}

/*Imagens Carrossel*/

.carrossel {

    width: 98vw;
    overflow: hidden;

    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    gap: 3.2%;  
}


.slide_ativo img {
    height: 29.958vw;
    width: 52.376vw;
    padding-right: 0.521vw;
    
    scale: 0.99;
}


.slide_images img {
    height: 28.594vw;
    width: auto;
    padding-top: 0.5vw;
    filter: grayscale(100%) sepia(100%) hue-rotate(230deg) saturate(100%) brightness(15%);
    transition: filter 0.6s ease;
    opacity: 75%;
    
}

/*.carrossel::after {
    content: "";
    padding: 1%;
    height: 95%;
    width: 100%;
    
    background-image: linear-gradient(-25deg, rgb(0, 0, 0),transparent 45%, rgb(0, 0, 0));
    position: absolute;
    top: 1%;
    left: 0%;
    z-index: 6;
}

/*Fim*/

.borda_slide1 {
    height: 28.594vw;
    width: auto;
    scale: 0.99;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.95) 15%,transparent );
    
    border-top: 0.6vw solid #644A33;
    border-right: 0.6vw solid #644A33;
    border-bottom: 0.6vw solid #644A33;
    border-left: 0.4vw solid #644A33;
    border-radius: 15px;
    z-index: 0;
}



.borda_slide2 {
    height: 29.13vw;
    width: 51.787vw;
    scale: 0.99;
    
    border: 0.6vw solid;
    border-image: linear-gradient(to right, #644A33, #CA9567, #644A33) 1;
    position: relative;
    z-index: 2;

    transition: 0.2s;
}

.borda_slide2::after {
    content: "";
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, #3B3844, transparent 35%);
    opacity: 60%;
    position: absolute;
}

.borda_slide2:hover {
    scale: 0.999999;
    transition: 0.3s;
}

.borda_slide3 {
    height: 28.594vw;
    width: auto;
    scale: 0.99;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.95) 15%,transparent );
    
    border-top: 0.6vw solid #644A33;
    border-left: 0.6vw solid #644A33;
    border-bottom: 0.6vw solid #644A33;
    border-right: 0.4vw solid #644A33;
    border-radius: 15px;
    z-index: 0;
}

.side_bl{
    opacity: 80%;
    position: absolute;
    height: 8.021vw;
    top: 35%;
    left: -6.2%;
    z-index: 4;
}

.side_bl:hover {
    opacity: 100%;
    transition-duration: 0.3s;
}

.side_br{
    opacity: 80%;
    position: absolute;
    height: 8.021vw;
    top: 35%;
    right: -5.4%;
    z-index: 4;
}

.side_br:hover {
    opacity: 100%;
    transition-duration: 0.3s;
}

.over_b_l {
    filter: var(--sombras-elementos);
    width: auto;
    position: absolute;
    height: 3.5vw;
    top: 42.5%;
    left: -2%;
    z-index: 5;
}

.over_b_l:hover {
    height: 3.55vw;
    left: -3%;
    filter: drop-shadow(5px 0px 10px rgba(66, 149, 226, 0.200));
    transition-duration: 0.2s;
}

.over_b_r {
    filter: var(--sombras-elementos);
    width: auto;
    position: absolute;
    height: 3.5vw;
    top: 42.5%;
    right: -1%;
    z-index: 5;
}

.over_b_r:hover {
    height: 3.55vw;
    right: -2%;
    filter: drop-shadow(-5px 0px 10px rgba(66, 149, 226, 0.200));
    transition-duration: 0.2s;
}


.moldura_carrossel {
    height: 28vw;
    
    position: absolute;
    top: 2%;
    right: -2.5%;
    pointer-events: none;
    z-index: 4;
}

.adesivos {
    filter: drop-shadow(0px 11px 8px #00000094);
    pointer-events: none;
    position: absolute;
    height: 36.2vw;
    top: -10%;
    left: -5%;
    z-index: 6; 
}


footer {
    display: flex;
    justify-content: center;
    z-index: 3;
}

footer img {
    width: 80%;

}